# Этот файл - kubeadm-config.yaml.j2
apiVersion: kubeadm.k8s.io/v1beta3
kind: InitConfiguration
nodeRegistration:
  kubeletExtraArgs:
    cgroup-driver: systemd
---
apiVersion: kubeadm.k8s.io/v1beta3
kind: ClusterConfiguration
kubernetesVersion: v1.28.5  # Вы можете заменить это на {{ k8s_version }}, если хотите
apiServer:
  certSANs:
  - "{{ ansible_hostname }}"
  - "{{ ansible_default_ipv4.address }}" # Добавлено для большей надежности
controlPlaneEndpoint: "{{ ansible_default_ipv4.address }}:6443"
networking:
  podSubnet: "10.244.0.0/16" # Вы можете заменить это на {{ pod_network_cidr }}
  serviceSubnet: "10.96.0.0/12"
---
apiVersion: kubeproxy.config.k8s.io/v1alpha1
kind: KubeProxyConfiguration
mode: ipvs
