global:
  namespace: django-app

image:
  # IP вашего реестра
  registry: "192.168.31.158:30500" # БЕЗ http://
  username: "admin"
  password: "admin123" # Пароль от registry (из лабы 4)
  repository: "192.168.31.158:30500/django-app"
  tag: "latest"
  pullPolicy: Always # Лучше Always для разработки

imagePullSecrets:
  create: true
app:
  replicas: 1
  serviceType: ClusterIP
  port: 8000
  env:
    DEBUG: "False"
    ALLOWED_HOSTS: "*"

resources:
  requests:
    memory: "128Mi"
    cpu: "100m"
  limits:
    memory: "512Mi"
    cpu: "500m"

ingress:
  enabled: true
  annotations:
    # Явно указываем класс через аннотацию (работает везде)
    kubernetes.io/ingress.class: nginx
  hosts:
    - host: django-app.local
      paths:
        - path: /
          pathType: Prefix
  tls: []

# Настройки для Sub-chart PostgreSQL
postgresql:
  enabled: true
  image:
    registry: cr.yandex
    repository: mirror/bitnami/postgresql
    tag: "15"
    pullPolicy: IfNotPresent

  # Важные настройки для отключения дисков в чартах Bitnami версий 11+
  primary:
    persistence:
      enabled: false
  # На всякий случай для старых версий или совместимости
  persistence:
    enabled: false
    
  auth:
    database: "django_app"
    username: "django_user"
    password: "postgres_password_123"

monitoring:
  enabled: true
