name: Build, Push to Private Registry and Deploy with Helm

on:
  push:
    branches: [ main ]

env:
  REGISTRY: "192.168.31.158:30500"
  IMAGE_NAME: "django-app"
  K8S_NAMESPACE: "django-app"
  HELM_RELEASE: "django-app-production"

jobs:
  build-and-push:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          driver-opts: network=host
          buildkitd-config-inline: |
            [registry."192.168.31.158:30500"]
              http = true
              insecure = true

      - name: Log in to private registry
        run: docker login ${{ env.REGISTRY }} -u admin -p admin123

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ github.sha }}
      
      # !!! ШАГ Create ImagePullSecret УДАЛЕН ОТСЮДА !!!
      # Секрет теперь создается внутри Helm-чарта

  deploy-with-helm:
    needs: build-and-push
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4

      - name: Install Helm
        run: |
          curl https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3 | bash
        continue-on-error: true

      - name: Deploy with Helm
        run: |
          # 1. Создаем namespace если нет
          kubectl create namespace ${{ env.K8S_NAMESPACE }} --dry-run=client -o yaml | kubectl apply -f -
          
          # 2. Обновляем зависимости
          helm dependency update ./django-app-chart --skip-refresh

          # 3. Деплоим
          # Мы добавили regcred в сам чарт, поэтому Helm создаст его сам корректно
          helm upgrade --install ${{ env.HELM_RELEASE }} ./django-app-chart \
            --namespace ${{ env.K8S_NAMESPACE }} \
            --set image.repository=${{ env.REGISTRY }}/${{ env.IMAGE_NAME }} \
            --set image.tag=${{ github.sha }} \
            --set app.replicas=1 \
            --wait \
            --timeout 300s
